In [4]:
import pandas as pd
import os

In [5]:
dataframes = []
for file in os.listdir("datasets"):
    path = os.path.join("datasets",file)
    frame = pd.read_csv(path)
    dataframes.append(frame)

In [7]:
dataframes[0].head()

   Unnamed: 0
0         NaN
1         NaN

In [17]:
PIT_2020 = dataframes[1]
PIT_2020.head()

,State,Number of CoCs,"Overall Homeless, 2020","Overall Homeless - Under 18, 2020","Overall Homeless - Age 18 to 24, 2020","Overall Homeless - Over 24, 2020","Overall Homeless - Female, 2020","Overall Homeless - Male, 2020","Overall Homeless - Transgender, 2020","Overall Homeless - Gender Non-Conforming, 2020",...,"Overall Homeless Parenting Youth Age 18-24, 2020","Sheltered ES Homeless Parenting Youth Age 18-24, 2020","Sheltered TH Homeless Parenting Youth Age 18-24, 2020","Sheltered Total Homeless Parenting Youth Age 18-24, 2020","Unsheltered Homeless Parenting Youth Age 18-24, 2020","Overall Homeless Children of Parenting Youth, 2020","Sheltered ES Homeless Children of Parenting Youth, 2020","Sheltered TH Homeless Children of Parenting Youth, 2020","Sheltered Total Homeless Children of Parenting Youth, 2020","Unsheltered Homeless Children of Parenting Youth, 2020"
0,AK,2.0,"1,949",326,197,"1,426",828,"1,114",3,4,...,13,10,3,13,0,16,12,4,16,0
1,AL,8.0,"3,351",528,198,"2,625","1,294","1,988",9,4,...,27,10,15,25,2,36,13,21,34,2
2,AR,4.0,"2,366",195,258,"1,913",798,"1,561",5,2,...,8,6,1,7,1,12,8,2,10,2
3,AS,0.0,,,,,,,,,...,,,,,,,,,,
4,AZ,3.0,"10,979","1,722",824,"8,433","4,228","6,694",43,14,...,98,33,54,87,11,128,48,72,120,8

In [16]:
no_home_frame = dataframes[2]
no_home_frame.head()

,year,AK,AL,AR,AZ,CA,CO,CT,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,2008,1646,5387,3255,12488,136531,14747,4627,933,50158,...,579,9705,40190,3434,8469,954,21954,5449,2016,751
1,2009,1992,6080,2852,14721,123678,15268,4605,1130,55599,...,731,10532,36761,3795,8852,1214,22782,6525,1667,515
2,2010,1863,6046,2762,13711,123480,15482,4316,982,57551,...,731,10276,35121,3284,9080,1220,22878,6333,2264,579
3,2011,2128,5558,3424,10504,125128,15116,4456,1035,56687,...,826,9113,36911,3130,8816,1144,20439,5785,2211,1038
4,2012,1913,5209,4214,11302,120098,16768,4209,1008,55170,...,859,9426,34052,3527,8424,1160,20504,6027,2410,1813

In [11]:
PIT_2019 = dataframes[3]
PIT_2019.head()

,State,Number of CoCs,"Overall Homeless, 2019","Overall Homeless - Under 18, 2019","Overall Homeless - Age 18 to 24, 2019","Overall Homeless - Over 24, 2019","Overall Homeless - Female, 2019","Overall Homeless - Male, 2019","Overall Homeless - Transgender, 2019","Overall Homeless - Gender Non-Conforming, 2019",...,"Overall Homeless Parenting Youth Age 18-24, 2019","Sheltered ES Homeless Parenting Youth Age 18-24, 2019","Sheltered TH Homeless Parenting Youth Age 18-24, 2019","Sheltered Total Homeless Parenting Youth Age 18-24, 2019","Unsheltered Homeless Parenting Youth Age 18-24, 2019","Overall Homeless Children of Parenting Youth, 2019","Sheltered ES Homeless Children of Parenting Youth, 2019","Sheltered TH Homeless Children of Parenting Youth, 2019","Sheltered Total Homeless Children of Parenting Youth, 2019","Unsheltered Homeless Children of Parenting Youth, 2019"
0,AK,2.0,"1,907",335,204,"1,368",761,"1,137",6,3,...,20,6,14,20,0,27,13,14,27,0
1,AL,8.0,"3,261",629,199,"2,433","1,383","1,873",3,2,...,22,10,11,21,1,34,17,13,30,4
2,AR,5.0,"2,717",303,317,"2,097","1,022","1,688",4,3,...,11,7,4,11,0,15,10,5,15,0
3,AS,0.0,,,,,,,,,...,,,,,,,,,,
4,AZ,3.0,"10,007","1,602",708,"7,697","3,683","6,297",16,11,...,58,17,40,57,1,80,26,53,79,1

In [15]:
PIT_2018 = dataframes[4]
PIT_2018.head()

,State,Number of CoCs,"Overall Homeless, 2018","Overall Homeless - Under 18, 2018","Overall Homeless - Age 18 to 24, 2018","Overall Homeless - Over 24, 2018","Overall Homeless - Female, 2018","Overall Homeless - Male, 2018","Overall Homeless - Transgender, 2018","Overall Homeless - Gender Non-Conforming, 2018",...,"Overall Homeless Parenting Youth Age 18-24, 2018","Sheltered ES Homeless Parenting Youth Age 18-24, 2018","Sheltered TH Homeless Parenting Youth Age 18-24, 2018","Sheltered Total Homeless Parenting Youth Age 18-24, 2018","Unsheltered Homeless Parenting Youth Age 18-24, 2018","Overall Homeless Children of Parenting Youth, 2018","Sheltered ES Homeless Children of Parenting Youth, 2018","Sheltered TH Homeless Children of Parenting Youth, 2018","Sheltered Total Homeless Children of Parenting Youth, 2018","Unsheltered Homeless Children of Parenting Youth, 2018"
0,AK,2.0,"2,016",349,191,"1,476",880,"1,129",7,0,...,25,14,9,23,2,26,14,10,24,2
1,AL,8.0,"3,434",573,157,"2,704","1,399","2,025",9,1,...,27,11,8,19,8,36,16,13,29,7
2,AR,7.0,"2,712",309,213,"2,190","1,113","1,593",5,1,...,8,5,2,7,1,11,7,2,9,2
3,AS,0.0,,,,,,,,,...,,,,,,,,,,
4,AZ,3.0,"9,865","1,680",780,"7,405","3,460","6,354",34,17,...,63,19,35,54,9,81,28,45,73,8

In [14]:
pop_frame = dataframes[5]
pop_frame.rename(columns={"Unnamed: 0": "year"}, inplace=True)
pop_frame.head()

,year,AL,AK,AZ,AR,CA,CO,CT,DE,FL,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
0,2010,4785437,713910,6407172,2921964,37319502,5047349,3579114,899593,18845537,...,816166,6355311,25241971,2775332,625879,8023699,6742830,1854239,5690475,564487
1,2011,4799069,722128,6472643,2940667,37638369,5121108,3588283,907381,19053237,...,823579,6399291,25645629,2814384,627049,8101155,6826627,1856301,5705288,567299
2,2012,4815588,730443,6554978,2952164,37948800,5192647,3594547,915179,19297822,...,833566,6453898,26084481,2853375,626090,8185080,6897058,1856872,5719960,576305
3,2013,4830081,737068,6632764,2959400,38260787,5269035,3594841,923576,19545621,...,842316,6494340,26480266,2897640,626210,8252427,6963985,1853914,5736754,582122
4,2014,4841799,736283,6730413,2967392,38596972,5350101,3594524,932487,19845911,...,849129,6541223,26964333,2936879,625214,8310993,7054655,1849489,5751525,582531

In [19]:
change_frame = dataframes[6]
change_frame.head()

,State,"Change in Total Homelessness, 2019-2020","Change in Total Homelessness, 2018-2020","Change in Total Homelessness, 2017-2020","Change in Total Homelessness, 2016-2020","Change in Total Homelessness, 2015-2020","Change in Total Homelessness, 2014-2020","Change in Total Homelessness, 2013-2020","Change in Total Homelessness, 2012-2020","Change in Total Homelessness, 2011-2020","Change in Total Homelessness, 2010-2020","Change in Total Homelessness, 2009-2020","Change in Total Homelessness, 2008-2020","Change in Total Homelessness, 2007-2020"
0,AK,2.2%,-3.3%,5.6%,0.5%,-0.4%,9.2%,0.2%,1.9%,-8.4%,4.6%,-2.2%,18.4%,18.7%
1,AL,2.8%,-2.4%,-11.7%,-18.5%,-15.6%,-26.5%,-28.5%,-35.7%,-39.7%,-44.6%,-44.9%,-37.8%,-38.5%
2,AR,-12.9%,-12.8%,-4.1%,-3.9%,-7.6%,-19.4%,-37.9%,-43.9%,-30.9%,-14.3%,-17.0%,-27.3%,-38.3%
3,AS,,,,,,,,,,,,,
4,AZ,9.7%,11.3%,22.7%,13.1%,10.9%,4.6%,3.9%,-2.9%,4.5%,-19.9%,-25.4%,-12.1%,-25.0%

In [21]:
PIT_2017 = dataframes[7]
PIT_2017.head()

,State,Number of CoCs,"Overall Homeless, 2017","Overall Homeless - Under 18, 2017","Overall Homeless - Age 18 to 24, 2017","Overall Homeless - Over 24, 2017","Overall Homeless - Female, 2017","Overall Homeless - Male, 2017","Overall Homeless - Transgender, 2017","Overall Homeless - Gender Non-Conforming, 2017",...,"Overall Homeless Parenting Youth Age 18-24, 2017","Sheltered ES Homeless Parenting Youth Age 18-24, 2017","Sheltered TH Homeless Parenting Youth Age 18-24, 2017","Sheltered Total Homeless Parenting Youth Age 18-24, 2017","Unsheltered Homeless Parenting Youth Age 18-24, 2017","Overall Homeless Children of Parenting Youth, 2017","Sheltered ES Homeless Children of Parenting Youth, 2017","Sheltered TH Homeless Children of Parenting Youth, 2017","Sheltered Total Homeless Children of Parenting Youth, 2017","Unsheltered Homeless Children of Parenting Youth, 2017"
0,AK,2.0,"1,845",305,186,"1,354",765,"1,075",4,1,...,22,10,12,22,0,39,20,19,39,0
1,AL,8.0,"3,793",528,300,"2,965","1,314","2,453",21,5,...,23,6,14,20,3,39,11,24,35,4
2,AR,6.0,"2,467",265,209,"1,993",965,"1,499",3,0,...,10,8,2,10,0,13,11,2,13,0
3,AS,0.0,,,,,,,,,...,,,,,,,,,,
4,AZ,3.0,"8,947","1,607",660,"6,680","3,331","5,592",22,2,...,81,37,44,81,0,112,55,57,112,0

In [23]:
bed_frame = dataframes[8]
dataframes[8].head()

,year,AK,AL,AR,AZ,CA,CO,CT,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,2008,1697,4337,1847,9803,52016,6522,3958,1250,22036,...,1379,6259,20666,3306,7671,931,17279,6305,2060,710
1,2009,1697,4065,1802,9066,52397,6363,4043,1197,22376,...,1379,5725,22449,3215,7947,791,17927,5989,1853,739
2,2010,1805,4221,2700,8914,50282,6420,3921,1233,23362,...,1379,6202,22393,2922,7949,786,18071,6008,2002,904
3,2011,1939,4497,2710,8748,49657,6361,3906,1216,23974,...,1319,6746,24323,2954,7690,805,16669,6692,1878,753
4,2012,1877,4297,2662,9238,47144,6536,3539,1239,23272,...,1444,6492,22880,3020,7514,981,16966,6384,1874,817

In [ ]:
# All data is accessible in dataframe format
# PIT 2017-2020
# bed_frame, pop_frame, no_home_frame